.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
   
}


.img{
    width:25rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
    
    border-radius: 20px;
 } 
.mapContainer{
/* display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap:1rem; */
display:flex;
flex-wrap:wrap;
row-gap: 2rem;

justify-content:space-around ; 
align-items: center;
 /* text-align: center;  */
 /* margin-top: 2rem; */
 

 }  
 .heading{
    display:flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-start;
    font-family: 'Gloock', serif;
}

.heading>:nth-child(1){
    color:red;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.heading>:nth-child(2) ,.heading>:nth-child(3){
    font-size: 2rem;

}
.data{
   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Gloock', serif;
    
}
.img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


@media (max-width:798px){

    .img{
        width:94vw;
        
        position: relative;
        overflow: hidden;
        margin-right: 2rem;
        border-radius: 20px;
     } 

}