.main{
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    
   
    
}
.img{
    width: 20rem;
  height: 16rem;
}
.price{
    font-size: 1.2rem;
    font-weight: 700;
}
.mainContainer{
   
   display: flex;
   align-items: center;
   justify-content: center;
   
  
   gap: 2rem;
}
.btn{
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 30px;
    font-weight: 700;
    background-color: rgb(151, 7, 7);
    color:white;
    border:none;
    margin-bottom: 1rem;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 63vh;
    
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.div1:hover{
    transform: scale(1.1);
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 0.3rem;
    gap:2rem;
    width: 21vw;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.div2:hover{
    transform: scale(1.1);
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    border: lightgrey 2px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    margin-bottom: 1rem;
    width: 7rem;
    padding: 0.5rem;
    border-radius: 20px;

}
.count>:nth-child(1){
    font-size: 1rem;
    font-weight: 600;

}
.count>:nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;

}
.count>:nth-child(3){
    font-size: 1.2rem;
    font-weight: 600;

}
.div2>:nth-child(1){
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.para{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(143, 3, 3);
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.div3>:nth-child(1){
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.div3>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.div3>:nth-child(3){
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.btn1{
    margin-top: 3rem;
    font-size: 1.3rem;
    color :white;
    background-color: rgb(132, 5, 5);
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    width: 10vw;
}
.btn1:hover{
    transform: scale(1.1);
}



