

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 97.8%;
  z-index:99;
  backdrop-filter: blur(20px);
  padding-left: 1rem;
  padding-right: 3rem;
  /* background-color: rgb(20, 19, 19); */
 
}
.head {
  /* font-family: "Style Script", cursive; */
  font-family: "Great Vibes", cursive;
  font-size: 1.1rem;
  flex: 1;
  color: black;
}
.head:hover {
  color:  rgb(177, 6, 6);
  cursor: pointer;
}
.middle {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  z-index: 99;
  align-items: center;
  color:black
}
.middle > a {
  font-size: 1.3rem;
  font-family: 'Gloock', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color:black;

}
.middle > a:hover {
  color:  rgb(177, 5, 31);
  cursor: pointer;
}
.right {
  flex: 1;
  display: flex;
  gap: 1;
  justify-content: flex-end;
}
.icon {
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;
  color:black;
  gap:2rem;
}
.icon>:nth-child(1):hover{
  color: rgb(187, 12, 41);
  cursor: pointer;
}
.badge {
  position: absolute;
  right: -1rem;
  top:1.8rem;
  /* bottom: 0.5px; */
  display: flex;
  background-color:  rgb(187, 12, 41);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

}
